---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ProjectileSim from "@/components/ProjectileSim";
---

<BaseLayout>
  <section
    class="relative flex items-center justify-center bg-background px-4 py-12 md:px-12"
  >
    <div class="mx-auto w-full max-w-7xl">
      <ProjectileSim client:idle />
    </div>
  </section>
</BaseLayout>
